@using DoAnChuyenNganh_Web_Ver4.Models
@model List<Cart>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/_LayoutCart.cshtml";
}

<div class="sixteen columns cart-section oflow">
    <!-- Cart -->
    <table class="table cart-table responsive-table">
        <tr>
            <th>

            </th>
            <th>
                TÊN MÓN
            </th>
            <th>
                GIÁ
            </th>
            <th>
                SỐ LƯỢNG
            </th>
            <th>
                ĐƠN GIÁ
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {

            <!-- Item -->
            <tr>
                <td>
                    <img src="images/@item.TempPic" alt="" />
                </td>

                <td class="cart-title">
                    <a href="#">@item.TempName</a>
                </td>
                <td>
                    @item.TempPrice
                </td>
                @using (Html.BeginForm("UpdateCart", "Order", new { @id = item.TempID }))
                {
                    <td>

                        <div class="qtyminus">
                        </div>
                        <input type='text' name="Quantity" value="@item.TempAmount" class="qty" />
                        <div class="qtyplus">
                        </div>

                    </td>
                    <td class="cart-total">
                        @item.TempTotal
                    </td>
                    <td>
                        <a class="cart-remove"> @Html.ActionLink("X", "DeleteItem", new { id = item.TempID }) </a>
                    </td>
                    <td></td>
                    <td><input class="cart-buttons" type="submit" value="Refresh" /></td>
                }
            </tr>



        }
    </table>


</div>


<div class="taxat">
    @Html.Action("Discount", "Order")

    <div class="cart-buttons">
        <a href="#">Hủy đơn hàng</a>
    </div>
    <!-- Cart Totals -->
    <div class="col-md-6 eight columns cart-totals">
        <div></div>
        <table class="table cart-table test">
            <tbody>
                <tr>
                    <th>
                        Tổng cộng
                    </th>
                    <td>
                        <strong>@ViewBag.CartTotal</strong>
                    </td>
                </tr>
                <tr>
                    <th>
                        Phí vận chuyển
                    </th>
                    <td>
                        <strong>@ViewBag.Shipping</strong>
                    </td>
                </tr>
                <tr>
                    <th>
                        Giảm giá
                    </th>
                    <td>
                        <strong>@ViewBag.Discount</strong>
                    </td>
                </tr>
                <tr>
                    <th>
                        Thành tiền
                    </th>
                    <td>
                        <strong>@ViewBag.OrderTotal</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <span class="calculate-shipping">@Html.ActionLink("Thanh toan","CheckOut","Order") </span>
    </div>
</div>
