<!--Customer Infomation Section-->
@{
                /**/

                Customer ctm = (Customer)Session["CustomerObject"];
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Thông tin đặt hàng</a>
        </h4>
    </div>
    <div>
        <div class="panel-body pb2">
            <div class="accordion-list-content" style="overflow: hidden; display: block;">

                <div class="col-md-6 check-name">
                    <div>

                        @using (Html.BeginForm())
    {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p><strong>Ho ten: </strong> @ctm.CtmName</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p><strong>Dia chi: </strong>@ctm.Addr</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p><strong>So dien thoai:</strong> @ctm.Tell</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p><strong>Ngay dat hang:</strong>@DateTime.Now.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p>
                                <strong>Phuong thuc thanh toan: </strong>
                                <select>
                                    <option>COD</option>
                                    <option>IB</option>
                                </select>
                            </p>
                        </div>
                    </div>
}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Payment section-->

@using DoAnChuyenNganh_Web_Ver4.Models
@model List<Cart>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/_LayoutPayment.cshtml";
}
<form action="@Url.Action("CheckOut","Order")" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div>
            <div class="col-md-12 checkout-cart">

                <div class="sixteen columns">
                    <!-- Cart -->
                    <table class="table cart-table responsive-table">
                        <tr>
                            <th>

                            </th>
                            <th>
                                TÊN MÓN
                            </th>
                            <th>
                                GIÁ
                            </th>
                            <th>
                                SỐ LƯỢNG
                            </th>
                            <th>
                                ĐƠN GIÁ
                            </th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <!-- Item -->
                            <tr>
                                <td>
                                    <img src="images/@item.TempPic" alt="" />
                                </td>
                                <td class="cart-title">
                                    <a href="#">@item.TempName</a>
                                </td>
                                <td>
                                    @item.TempPrice
                                </td>
                                <td>

                                    <div class="qtyminus">
                                    </div>
                                    @item.TempAmount
                                    <div class="qtyplus">
                                    </div>

                                </td>
                                <td class="cart-total">
                                    @item.TempTotal
                                </td>
                                >
                            </tr>
                        }
                    </table>
                </div>
                <div class="taxat">

                    <div class="col-md-6 taxes nopadding">

                    </div>
                    <!-- Cart Totals -->
                    <div class="col-md-6 eight columns cart-totals">
                        <table class="table cart-table test">
                            <tbody>
                                <tr>
                                    <th>
                                        Tổng cộng
                                    </th>
                                    <td>
                                        <strong>@ViewBag.CartTotal</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Phí vận chuyển
                                    </th>
                                    <td>
                                        <strong>@ViewBag.Shipping</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Thời gian giao hàng
                                    </th>
                                    <td>
                                        <strong>20 - 30 phút</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Thành tiền
                                    </th>
                                    <td>
                                        <strong>@ViewBag.OrderTotal</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <input class="calculate-shipping" type="submit" value="Đặt hàng" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
