
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>delicio</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="css/responsive.css" type="text/css" media="screen" />
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--top-strip-->
    <div class="top-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-6 user">
                    <p>
                        Welcome to Delicio
                    </p>
                </div>
                <div class="col-md-6 language">
                    <ul>
                        @if (Session["Customer"] != null)
                        {
                            <li>@Session["Customer"].ToString()</li>
                        }
                        else
                        {
                            <li>@Html.Action("Login","Account")</li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-top-strip-->
    <!--navbar-->
    <div class="container header">
        <nav id="myNavbar" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="single.html">Single</a></li>
                        <li><a href="cart.html">Cart</a></li>
                        <li class="active"><a href="checkout.html">Checkout</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown</a>
                            <ul class="dropdown-menu">
                                @Html.Action("MenuPartial", "Partial")
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
    <!--end-navbar-->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-10 produti">
                    <h4>CHECKOUT</h4>
                </div>
                <div class="col-md-2 cart">
                    <h4><a href="#">chart (2 items)</a></h4>
                    <ul>
                        <li><a href="#">home /</a></li>
                        <li><a href="#">products</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- shop-page -->
    <div class="container checking-area">
        <div class="row">

            <!--Something here-->
            <div>
                @RenderBody()
            </div>

        </div>
    </div>
    <!--prize-->
    <div class="prize">
        <div class="container">
            <h1>win our special prize on our facebook page</h1>
        </div>
    </div>
    <!--end-prize-->
    <!--footer-->
    <div class="full-footer">
        <div class="container-full">
            <div class="container info">
                <div class="row">
                    <div class="col-md-4 addres">
                        <img src="images/footer-logo.png" alt="logo">
                        <h6>Delicio Webshop,LLC</h6>
                        <p>
                            South Washington Street 828,Washington,USA
                        </p>
                        <p>
                            Phone 0123 456 789/0123 456 788
                        </p>
                    </div>
                    <div class="col-md-2 account">
                        <h4>my Account</h4>
                        <ul>
                            <li><a href="#">cart</a></li>
                            <li><a href="#">checkout</a></li>
                            <li><a href="#">my accout</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 assistance">
                        <h4>Informations</h4>
                        <ul>
                            <li><a href="#">costumer assistance</a></li>
                            <li><a href="#">delivery informations</a></li>
                            <li><a href="#">international shipping</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 about">
                        <h4>about us</h4>
                        <p>
                            Lorem ipsum dolor sit amet,consectetur adipiscing elit. in non vestibulum massa,sit amet bibendum eros. in accumsan dignissin.lorem ipsum dolor sit amet vestibulum massa,sit amet bibendum eros. in accumsan dignissin.lorem ipsum dolor sit amet
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--end-addres-->
        <div class="container">
            <div class="row bottom-strip">
                <div class="col-md-6 rights">
                    <p>
                        Delicio Webshop-Responsive themeforest theme 2014
                    </p>
                </div>
                <div class="col-md-6 social">
                    <ul>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-asterisk"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-footer-->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2196019-1']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script type="text/javascript" src="~/js/jquery.nouislider.min.js"></script>
</body>
</html>