@model List<DoAnChuyenNganh_Web_Ver5.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}

@section jsFooter{
    <script src="/js/Controller/CartController.js"></script>
}
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
                <h4>CHECKOUT</h4>
            </div>
            <div class="col-md-2 cart">
                @{ Html.RenderAction("CartPartial", "Cart");}
                
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container checking-area">
    <div class="row">
        @if ()
        {
            <div class="col-md-9 cart-area">
                <div class="sixteen columns cart-section oflow">
                    <!-- Cart -->
                    <table class="table cart-table responsive-table">
                        <tr>
                            <th>
                            </th>
                            <th>
                                Tên sản phẩm
                            </th>
                            <th>
                                Đơn giá
                            </th>
                            <th>
                                Số lượng
                            </th>
                            <th>
                                Tổng cộng
                            </th>
                            <th>

                            </th>
                            <th>
                            </th>
                        </tr>
                        <!-- Item #1 -->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td class="cart-title">
                                    <a href="@Url.Action("Details","Product",new { id = item.product.PrID})">@item.product.PrName</a>
                                </td>
                                <td>
                                    @item.product.Price.ToString("N0")
                                </td>
                                <td>
                                    <form action='#'>
                                        <div class="qtyminus">
                                        </div>
                                        <input data-id="@item.product.PrID" type='text' name="quantity" value='@item.Quantity' class="txtQuantity" />
                                        <div class="qtyplus">
                                        </div>
                                    </form>
                                </td>
                                <td class="cart-total">
                                    @((item.product.Price * item.Quantity).ToString("N0"))
                                </td>
                                <td>
                                    <a href="@Url.Action("DeleteEachProduct","Cart")" class="btn-delete" data-id="@item.product.PrID"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="taxat">
                    <form action="#" method="get" class="apply-coupon" style="float:right">
                        <input class="search-field" type="text" placeholder="Coupon Code" value="">
                        <a href="#" class="coupon-btn checkout-btn">Apply Coupon</a>
                    </form>
                    <div class="cart-buttons">
                        <a href="@Url.Action("DeleteAllProduct","Cart")" id="btnDeleteAll" class="btn btn-danger">Hủy đơn hàng</a>
                        <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
                        <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
                        <button id="btnPayment" class="btn">Thanh toán</button>
                    </div>
                  
                    <!-- Cart Totals -->
                    
                </div>
                <!-- Start -->
                <!-- end -->
            </div>
        }
        else
        {
            <div class="col-md-9 cart-area">
                <div class="sixteen columns cart-section oflow">
                    <span class="alert alert-danger">Không có sản phẩm nào trong giỏ hàng</span>
                </div>
            </div>

        }

        <!-- Sidebar -->
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                <div class="shop-widget">
                    <h4>Categories</h4>
                    <ul class="category-shop-list">
                        <li>
                            <a class="accordion-link" href="#">Watches <span>(4)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Jewellery <span>(8)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Technology <span>(6)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Kids <span>(5)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Electronics <span>(4)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Sports <span>(5)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-link" href="#">Bicycles <span>(7)</span></a>
                            <ul class="accordion-list-content">
                                <li><a href="#">Jackets <span>(7)</span></a></li>
                                <li><a href="#">Electronics <span>(10)</span></a></li>
                                <li><a href="#">Sports <span>(12)</span></a></li>
                                <li><a href="#">Garden <span>(2)</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="shop-widget">
                    <h4>Popular Products</h4>
                    <ul class="popular-product">
                        <li>
                            <img alt="" src="images/product.png">
                            <div>
                                <h6><a href="#">Iphone 5 black</a></h6>
                                <span>$766.00</span>
                            </div>
                        </li>
                        <li>
                            <img alt="" src="images/product2.png">
                            <div>
                                <h6><a href="#">Samasung Galaxy note 3</a></h6>
                                <span>$555.00</span>
                            </div>
                        </li>
                        <li>
                            <img alt="" src="images/product3.png">
                            <div>
                                <h6><a href="#">Iphone 5 black</a></h6>
                                <span>$766.00</span>
                            </div>
                        </li>
                        <li>
                            <img alt="" src="images/product4.png">
                            <div>
                                <h6><a href="#">Samasung Galaxy note 3</a></h6>
                                <span>$555.00</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


