
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Double King Burger</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Login.css" rel="stylesheet" type="text/css" />
    <link href="~/css/SearchBox.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--top-strip-->
    <div class="top-strip">
        <div class="container">
            <div class="row">
                <div class="col-md-6 user">

                </div>
                <div class="col-md-6 language">
                    <ul>
                        @if (Session["Customer"] != null)
                        {
                            <li>
                                <a href="@Url.Action("AccountDetail","Account")" style="font-weight:bold;color:white;font-size:15px;">Hello! @Session["Customer"].ToString()</a>
                            </li>
                        }
                        else
                        {
                            <li>@Html.Action("Login", "Account")</li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-top-strip-->
    <!--navbar-->
    <div class="container header">
        <nav id="myNavbar" class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/images/logo1.png" width="113" height="100"></a>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="dropdown">
                            <a href="@Url.Action("ShowAllProduct","Product")" data-toggle="dropdown" class="dropdown-toggle">Menu</a>
                            <ul class="dropdown-menu">
                                @Html.Action("MenuPartial", "Partial")
                            </ul>
                        </li>
                        @if (Session["Customer"] != null)
                        {
                            <li><a href="@Url.Action("AccountDetail","Account")">Tài khoản</a></li>
                        }
                        else
                        {

                        }
                        <li><a href="@Url.Action("Index","Event")">Khuyến mãi</a></li>
                        <li><a href="@Url.Action("Index","Cart")">Giỏ hàng</a></li>
                        <li><a href="@Url.Action("Index","Contact")">Liên hệ</a></li>
                    </ul>
                    @Html.Action("Search", "Partial")
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>
    <!--end-navbar-->
    <div>
        @RenderBody()
    </div>
    <!--prize-->
    <div class="prize">
        <div class="container">

        </div>
    </div>
    <!--end-prize-->
    <!--footer-->
    <div class="full-footer">
        <div class="container-full">
            <div class="container info">
                <div class="row">
                    <div class="col-md-4 addres">
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">
                            <img src="~/images/logo1.png" width="113" height="100">
                        </a>

                        <h6 style="font-size:20px;">Double King Burger</h6>
                        <p>
                            130 Nguyễn Sơn Phường Bình Hưng Hòa Quận Tân Bình TP.HCM
                        </p>
                        <p>
                            Số điện thoại 1900-06-1106
                        </p>
                    </div>
                    <div class="col-md-2 account">
                        <h4>Khách hàng</h4>
                        <ul>
                            <li><a href="@Url.Action("Index","Cart")">Giỏ hàng</a></li>
                            <li><a href="@Url.Action("CheckOut","Cart")">Thanh toán</a></li>
                            <li><a href="@Url.Action("AccountDetail","Account")">Tài khoản</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 assistance">
                        <h4>Thông tin</h4>
                        <ul>
                            <li><a href="#">Chăm sóc khách hàng</a></li>
                            <li><a href="#">Chính sách đặt hàng</a></li>
                            <li><a href="#">Khuyến mãi</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 about">
                        @Html.Action("EmailBox","Event")
                        <div style="background-image:url(../../images/facebook.png);height:160px;width:400px;margin-top:20px"
                             class="fb-like" data-href="https://www.facebook.com/Double-King-Burger-246945036058041"
                             data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-addres-->
        <div class="container">
            <div class="row bottom-strip">
                <div class="col-md-6 rights">
                    <p>
                        Doubleking.Corp 2018
                    </p>
                </div>
                <div class="col-md-6 social">
                    <ul>
                        <li><a href="#"><i class="fa fa-dribbble" style="color:white"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" style="color:white"></i></a></li>
                        <li><a href="#"><i class="fa fa-asterisk" style="color:white"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-square" style="color:white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end-footer-->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script type="text/javascript" src="~/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/js/jquery.nouislider.min.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
    <script type="text/javascript">
        // jQuery
        (function ($) {
            "use strict";
            $(document).ready(function () {
                // Main Slider
                $('.main-flexslider').flexslider({
                    directionNav: true,
                    controlNav: false,
                    animation: "fade",
                    slideshowSpeed: 7000,
                    prevText: "",
                    nextText: "",
                });
            });
        })(jQuery);
    </script>
    <!--Tawk.to-->
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5c05354bfd65052a5c93897e/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>

    @RenderSection("jsFooter", required: false)
</body>
</html>