
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutUser.cshtml";
}



<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
            </div>
            <div class="col-md-2 cart">
                @Html.Action("CartPartial", "Cart")
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container content">
    <div class="row">
        <div class="col-md-9 white-bg">
            <!-- Single Product -->
            <div class="single-product cold-md-12">
                <div class="flexslider col-md-6">
                    <img src="~/images/product-slide2.jpg" alt="" style="width: 424px; height:267.11px" />
                </div>
                <div class="product-details col-md-6">
                    <h1>@Model.PrName</h1>
                    <p class="price">
                        @Model.Price.ToString("N0")đ
                    </p>
                    <p>
                        @Model.Describe
                    </p>
                    <a style="margin-left:0px;" href="@Url.Action("AddToCart","Cart",new {id = Model.PrID,URL=Request.Url.ToString()})">
                        Thêm vào giỏ hàng
                    </a>
                    <hr>
                    <div class="availability">
                        <p style="font-size:20px;">
                            @Model.Status
                        </p>

                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            <div class="col-md-12 tabs">
                <h1 style="font-size=20px;">Đánh giá</h1>
                <div class="bs-example">
                    <div class="tabbable">
                        <div class="tab-content">
                            <div>
                                <p style="font-size:18px"> User <span style="margin-left:30px;">Đánh giá: 5 sao</span></p>
                                <p style="font-size:16px;margin-top:15px;">
                                    Dở tệ
                                </p>
                                <hr />
                            </div>
                            <div>
                                <h4 style="margin-bottom:10px;">Bình luận</h4>
                                <input type="text" style="width:680px;height:70px;border-radius:5px;" />
                                <button style="float:right;margin-top:35px;margin-right:-15px;" class="btn btn-default" type="submit">
                                    Bình luận
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--articles-->
            <div class="row articles">
             @Html.Action("AlsoWant","Product")
            </div>
        </div>
        <div class="col-md-3 shop-sidebar">
            @Html.Action("BannerPartial", "Partial")
        </div>
    </div>
</div>


