@model IEnumerable<DoAnChuyenNganh_Web_Ver5.Models.Product>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-10 produti">
            </div>
            <div class="col-md-2 cart">
                @Html.Action("CartPartial", "Cart")
            </div>
        </div>
    </div>
</div>
<!-- shop-page -->
<div class="container">
    <div class="row content">
        <div class="col-md-9 shop-section">
            <div class="row">
                <div class="col-md-12 latest">
                </div>
            </div>
            <!--articles-->
            <div class="row articles">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <img src="~/images/@item.Pic" alt="">
                        <div class="text">
                            <a href="@Url.Action("Details","Product",new { id = item.PrID})">
                                <span>
                                    @item.PrName
                                </span>
                            </a>
                            <p>
                                @item.Price.ToString("N0")đ
                            </p>
                            <a href="@Url.Action("AddToCart","Cart",new {id = item.PrID,URL=Request.Url.ToString()})">Đặt món</a>
                        </div>
                    </div>
                }

            </div>
        </div>
        <!--end-articles-->
        <div class="col-md-3 shop-sidebar">
            @Html.Action("BannerPartial", "Partial")
        </div>
    </div>
</div>


